*{

padding: 0px;
margin: 0px;
box-sizing: border-box;
}

a{

text-decoration: none;
}

body{

font-family: 'Tajawal', sans-serif;

}


.navbar-light .navbar-toggler{

border: none;
outline: none;
}

.navbar-toggler{

    font-size: 1.3rem;
    display: none;
    
}

.navbar-toggler i{

color: #fff;
font-size: 21px;
}

.navbar-toggler:focus{
text-decoration: none;
outline: 0;
box-shadow: 0 0 0 0rem;
}

.navbar .navbar-brand{

font-size: 23px;
color: #282828bd;
}


.navbar .data{

margin: 0px;
}

.navbar .data li{

list-style-type: none;
float: left;
padding: 15px 10px;
margin: 0px;

}

.navbar .data li a i{

padding-left: 8px;
font-size: 14px;
color: #ddd;
}

.navbar .data li a{

text-decoration: none;
color: #eee;
font-weight: 300;
font-size: 15px;
}

.navbar .navbar-brand img{

width: 70px;
}



.navbar-nav a i{

padding-left: 8px;
font-size: 14px;
color: #999;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    font-size: 15.5px;
    color: #eee;
    font-weight: 300;

}

.navbar-nav .nav-item{

padding: 6px 0px;
}

body{

background-color: #494b50;
font-family: 'Mulish', sans-serif;
color: #fff;
}

.container{

width: 95%;
margin: 0px auto;
}

.navbar{

    background-color: #30313418!important;

}



.section1 .row{

    align-items: center;
   

}

.row>* {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
}

.section1 .paragraph{

padding-left: 10px;
}

.section1 .paragraph h3{

font-size: 35px;
font-weight: 700;
padding: 12px 0px;
color: #ddd;
}

.section1 .paragraph p{

line-height: 1.8em;
margin: 20px 0px;
font-size: 16px;
color: #ccc;
text-align: justify;
width: 90%;
}

.section1 .paragraph h3 span{

animation-name: first;
animation-duration: 3s;
animation-iteration-count: infinite;
color: rgb(255, 180, 0);
opacity: 0;

}

@keyframes first {

10%{

opacity: 0.2;
}

20%{

opacity: 0.4;

}

30%{

opacity: 0.6;
}

40%{

opacity: 0.8;
}

50%{

opacity: 1;
}

60%{

opacity: 0.8;
}

70%{

opacity: 0.6;
}

80%{

opacity: 0.4;
}

90%{

opacity: 0.2;
}

100%{

opacity: 0;
}

}

.section1 .photo{

position: relative;
height: 400px;
}

.section1 .photo .photo-abs{

background-color: saddlebrown;
height: 100%;
position: absolute;
}

.section1 .photo-header{

background-image: url(../image/william-iven-gcsNOsPEXfs-unsplash.jpg);
height: 420px;
border-radius: 6px;
width: 100%;
}

.section1 .photo .photo-alpha{

background-color: rgba(0, 0, 0, 0.3);
height: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    font-size: 15.5px;
    color: #eee;
    font-weight: 300;

}

.navbar-expand-lg .navbar-nav .active{
    color: rgb(224, 169, 39)!important;

}

.paragraph .arrow{

animation-name: arrow;
animation-duration: 3s;
animation-iteration-count: infinite;
}

@keyframes arrow{


10%{

padding-left: 1px;
}


15%{
    padding-left: 2px;


}

20%{

    padding-left: 3px;

}

25%{

    padding-left: 4px;

}

30%{

    padding-left: 5px;

}


35%{

    padding-left: 6px;

}

40%{

    padding-left: 7px;

}

45%{

    padding-left: 8px;

}

50%{

    padding-left: 9px;

}


55%{

padding-left: 10px;

}


60%{

padding-left: 11px;

}


65%{

    padding-left: 12px;

}


70%{

padding-left: 11px;
}

75%{

padding-left: 10px;
}

80%{

padding-left: 9px;
}

83%{

padding-left: 8px;
}

86%{

padding-left: 7px;
}

89%{

padding-left: 6px;
}

92%{

padding-left: 5px;
}

95%{

padding-left: 4px;
}

97%{

padding-left: 3px;
}

99%{

padding-left: 2px;
}

100%{

padding-left: 1px;
}

}

@media(max-width: 991px){

.section1 .paragraph{

padding: 30px 12px;

}

.navbar img{
    
    width: 240px;
}

}

@media(max-width:768px){

.section1 .photo{

display: none;
}

.section1 .paragraph p {
    line-height: 1.8em;
    margin: 20px 0px;
    font-size: 16px;
    color: #ccc;
    text-align: justify;
    width: 100%;
}

.navbar-toggler{

    font-size: 1.6rem;
    display: block;
    
}


.navbar .data{

list-style-type: none;
float: left;
padding: 15px 10px;
margin: 0px;
display: none;

}


}

*::before, *::after {
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: .3s;
}
::-webkit-scrollbar-thumb {
    background: #e1e6f1;
}
